.box{
    padding-left: 10px;
    padding-right: 21px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 210px;
    margin-left: 8px;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Product Sans', sans-serif;
}
#login{
    padding-left: 130px;
    padding-right: 100.5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15%;
    margin-right:15%;
    background-color: crimson;
    border-radius: 5px;
 font-family: 'Product Sans', sans-serif;
    font-weight: bolder;
    font-size: 150;
}
.icon{
    scale: 1px;
    padding-top: 4px;
    padding-top: 8px;
    color: aliceblue;
}
.boxBorder{
    padding-left: 8px;
    border-radius: 30px;
    margin-right: 40px;
    font-family: 'Product Sans', sans-serif;
}
.full{
  margin-left: 38%;
  margin-right: 38%;
  margin-top: 11%;
  padding-top: 70px;
  padding-bottom: 80px;
  border: 2px solid rgba(85, 0, 255, 0.195);
  font-family: 'Product Sans', sans-serif;
  border-radius: 25px;

}
body{
  background-image: url('Login5.jpg');
  background-size: cover;
  font-family: 'Product Sans', sans-serif;
  transition: transform 0.5s ease-in-out;
}
#notamember{
  color: aliceblue;
  font-size: 18px;
  font-family: 'Product Sans', sans-serif;
 
  padding-left: 58px;
}
.sign-up{
  color: brown;
  padding-left: 92px;
  font-family: 'Product Sans', sans-serif;
}
.confirmPass{
    margin-top: 18px;
    margin-left: 8px;
    font-family: 'Product Sans', sans-serif;
}
#signup{
  padding-left: 130px;
    padding-right: 100.5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 11%;
    margin-right:12%;
    background-color: crimson;
    border-radius: 5px;
   font-family: 'Product Sans', sans-serif;
    font-weight: bolder;
    font-size: 150;
}
.confirmBox{
  padding-left: 10px;
    padding-right: 21px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 210px;
    margin-left: 8px;
    border-radius: 8px;
    font-family: 'Product Sans', sans-serif;
    font-size: 16px;
    input:-ms-reveal { display: none; }
}
#guest{
  font-size: larger;
  color: blueviolet;
  font-family: 'Product Sans', sans-serif;
  margin-left: 205px;
}
#login:hover body{
  background-image: url(scaled.jpg);
}